@model List<ResultRecipeDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/Index2.cshtml";
}
<div class="hero_area">
    <div class="bg-box">
        <img src="/feane-1.0.0/images/hero-bg.jpg" alt="">
    </div>
    @await Component.InvokeAsync("_UINavBarComponent")
</div>
<br />
<br />
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-secondary-subtle py-3 px-4 rounded mb-4">
                <a class="breadcrumb-item text-muted" href="/Default/Index">Ana Sayfa</a>
                <span class="breadcrumb-item active text-dark fw-bold">Tarifler</span>                
            </nav>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row px-xl-5">

        <div class="col-md-12">
            <div class="card shadow-sm rounded-4 h-100">
                <div class="card-header bg-light">
                    <h5 class="mb-0">Tarif Listesi</h5>
                </div>
                <div class="table-responsive p-3">
                    <table class="table table-bordered text-center align-middle mb-0">
                        <thead class="table-light">
                            <tr>
                                <th>#</th>
                                <th>Yemek</th>
                                <th>Yapım Süresi</th>
                                <th>Detaylar</th>                                
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <a href="@item.thumbnail_url" target="_blank">
                                            <img src="@item.thumbnail_url" style="width:50px; height:50px; border-radius:50%;" />
                                        </a>
                                    </td>
                                    <td>@item.name</td>
                                    @if(item.total_time_minutes == 0)
                                    {
                                        <td>15 dakika</td>
                                    }
                                    else
                                    {
                                        <td>@item.total_time_minutes dakika</td>
                                    }
                                   
                                    <td><a href="@item.original_video_url" class="btn btn-outline-primary">Tarifi İzle</a></td>                                    
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>       
    </div>
</div>
<br />